<h1>Login</h1>

<%= form_with url: login_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.check_box :remember_me %>
    <%= form.label :remember_me, "Remember me" %>
  </div>

  <%= form.submit "Log In" %>
<% end %>

<p>
  <%= link_to "Sign Up", signup_path %>
</p>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>
